html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	min-width: 1185px;
}
.container {
	/* display: flex;
	align-items: center; */
	/* margin-top: 100px; */
	/* margin: auto; */
	/* height: 100vh; */
	padding-left: 10%;
	padding-right: 10%;
	/* overflow: hidden; */
}
.demonstration {
	position: relative;
	z-index: 0;
	width: 100%;
	margin: 0;
	padding: 0;

}
.img-body {
	width: 538px;
	height: 638px;
}
.wrapper {
	position: absolute;
	z-index: 7;
	top: 0;
	left: 0;
	display: flex;
	justify-content:left;
}
.active {
	display: block !important;
}
/* .noactive {
	display: none;
} */
.male-muscles {
	width: 538px;
	height: 638px;

}

.description {
	padding: 0 5%;
	/* background: rgb(170, 165, 165); */
	display: none;
}
.body-head{
	width: 100%;
	height: 10%;
	/* background-color: rgba(233, 146, 146, 0.356); */
}
.neck {
	height: 8.2%;
	display: flex;
	justify-content: left;
	/* align-items: center; */
}
.rest-parts {
	height: 81.8%;
	/* background-color: rgba(62, 145, 87, 0.356); */
}
.neck-1 {
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 75px;
}
.neck-2 {
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 144px;
}
.neck-3{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 26px;
}
.neck-4{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 147px;
}
.neck-5{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 28px;
}
.neck-6{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 44px;
}
.neck-7{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 49px;
}
.neck-8{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 35px;
}
.neck-9{
	/* background-color: rgba(128, 117, 117, 0.356); */
	width: 88px;
